body
{
    /* margin: 50; */
    background-color: black;
    font-family: 'Anonymous Pro', monospace;
    color: blueviolet;
}

/* h1 {
    color: blueviolet;
} */


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .contentblob {
    height: 100%;
    width:50%;
    /* display:flex; */
    flex-direction: row-reverse;
    justify-content: space-around;
    /* fill:white; */
    fill-opacity: 1;
    /* stop-color: white; */
    /* fill:url(#linearGradient4661);fill-opacity:1;
 */


    /* stroke:#000000; */
    stroke:white;
    stroke-width:1px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity: 1;
  }

  /* gradient */
  #fade-stop-1 {
    stop-color: white;
    stop-opacity: 1;
  }
  #fade-stop-1 {
    stop-opacity: 0.5;
  }